<!DOCTYPE html>
<html>
<head>
    <title>Blog App</title>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>

            <div class="right menu">
                <% if(!user){ %>
                    <div class="item">
                        <a href="/login" >Sign In</a>
                    </div>
                    <div class="item">
                        <a href="/register">Sign Up</a>
                    </div>
                <% } else { %>
                    <div class="item">
                        <a href="/users/<%= user._id %>" class="ui">Signed In As <%= user.username %></a>
                    </div>
                    <div class="item">
                        <a href="/logout">Logout</a>
                    </div>
                <% } %>
            </div>
        </div>  
    </div>

    <div style="margin-top: 80px;" class="ui container">
        <% if(error && error.length > 0){%>
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    <%= error %>
                </div>
            </div>
        <%}%>
        
        <% if(success && success.length > 0){%>
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    <%= success %>
                </div>
            </div>
        <%}%>
    </div>
    
    