<%- include("../partials/blog_header")  %>


    <div class="ui main text container segment">
        <div class="ui huge header">Sign In</div>
        <form class="ui form" action="/login" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username" required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <a style="display: block;" href="/forgot">Forgot password?</a>
            <input class="ui violet big basic button" type="submit">
            <div style="float: right;">
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </div>
        </form>
    </div>

<%- include("../partials/blog_footer")  %>