<%- include("../partials/blog_header")  %>


    <div class="ui main text container segment">
        <div class="ui huge header">Reset Password</div>
        <form class="ui form" action="/reset/<%= token %>" method="POST">
            <div class="field">
                <label>New Password</label>
                <input type="password" name="password" value="" autofocus placeholder="password" required>
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="confirm" placeholder="confirm password" required>
            </div>
            <input class="ui violet big basic button" type="submit" value="Update Password">
        </form>
    </div>

<%- include("../partials/blog_header")  %>

